*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding-left: 5%;
}

.go-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

h1{
  font-size: 3em;
  font-weight: bold;
  color: black;
  text-align: left;
  font-family: "Electrolize", sans-serif;
}

h2{
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h3{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h4{
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

ul{ 
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

span{
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;   
}

p{
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;     
}

a:hover{
  color:#c27ef0; 
}

body {
  background-color:white;
}

table{
  color: black;
  width: 100%;
  max-width: 800px;
}

table tr:nth-child(2n) {
  background-color:#caebfa;
}

table tr:nth-child(2n+1) {
  background-color:#87ceeb;
}

.dp-content{
  display:none;
}

.dp-content.visible {
  display:block;
}

.form-grid {
  display:grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px 50px;
  width: 100%;
  max-width: 800px; 
  margin-top:15px;
}

.form-grid .submit {
 background: #aaaaaa;
 color: black;
 border:0;
 padding:5px;
}

.form-grid .error {
  color:red;
  display:none;
}

.form-grid .error.visible {
  display:block;
}

footer {
  border-top: 1px solid #aaaaaa;
  margin: 30px 0; 
  padding: 15px;
}

footer h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 2rem;
}

.socials{
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 220px;
  margin-bottom: 15px;
}

footer address { 
  font-style: normal;
  margin-bottom: 15px; 
}

footer a.first{
  padding-right:20px; 
  border-right: 1px solid #aaaaaa;
}

footer a.second{
  padding-left:20px; 
}